.App {
  text-align: center;
  background-image:
    url('./images/medici_homepage.jpg');
    background-size: cover;
    background-position: center center;
  min-height: 100vh;
  opacity: .85;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: .85;
}

.familyName {
  font-family: 'Italianno';
  width: 33%;
  background-color: #282c34;
  font-size: 1.5em;
  color: white;
  min-height: 70px;
}

.logo {
  width: 34%;
  min-height: 124px;
  background-image:
    url('./images/Medici_bank_logo.jpg');
    background-size: contain;
    background-position: center;
}

.familyMenu {
  font-family: 'Italianno';
  width: 33%;
  min-height: 70px;
  background-color: #282c34;
  font-size: 1.5em;
  color: white;
}

.familyMenu:hover {
  color: black;
  background-color: rgb(256,256,256,.5)
}

.holdings-image{
  width: 250px;
  height: 300px;
  overflow: hidden;
  background-position: center;
  border-radius: 25px;
}

.holdings-show-image {
  border-radius: 25px;
  width: 400px;
  height: auto;
}

.members-page-container {
  height: 85%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.members-image{
  border-radius: 20px;
  width: 400px;
  height: 400px;
}

.slider-holder {
  font-family: 'Italianno';
  font-size: 1.5em;
  padding-bottom: 30px;
  border-radius: 30px;
  background:  rgb(256,256,256,.35);
}

.slider-holder:hover {
  background:  rgb(0,0,0,.35);
}

.holding-show-page {
  font-family: 'Italianno';
  font-size: 1.5em;
}

.market-index-holder {
  font-family: 'Italianno';
  font-size: 1em;
  padding-bottom: 30px;
  border-radius: 30px;
  background:  rgb(256,256,256,.35);
}

.market-index-holder:hover {
  background:  rgb(0,0,0,.35);
}

.main-container {
  color: rgba(89, 23, 14);
}

.holdings-index-header {
  border-radius: 50px;
  color: rgba(227, 215, 108);
  border-width: thick;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
  background: rgb(89,23,14,.80);
  font-family: 'Italianno';
  font-size: 1.5em;
}

.main-image {
  width: 400px;
  height: auto;
}

.App-link {
  color: #61dafb;
}

.about-container {
  background:  rgb(256,256,256,.35);
  margin-left: 100px;
  margin-right: 100px;
}

.about-header {
  font-family: 'Italianno';
  font-size: 2em
}

.about-paragaph {
  font-size: 1.5em;
  font-family: 'Playball', cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FamilyMemberShowPage */

.familyMemberShowPage {
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100%;
  background: rgb(256,256,256,.25);
  font-size: 1.5em;
  border-radius: 75px;
}

.member-show-name-birth {
  font-family: 'Italianno';
}

.member-show-decs-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.member-page-desc {
  font-family: 'Playball', cursive;
  margin-left: 30px;
  padding: 10px;
}

.family-show-buttons {
  font-family: 'Playball', cursive;
  font-size: .75em;
  margin: 20px;
  padding: 10px;
  background: rgb(89,23,14,.75);
  border-radius: 25px;
}

.family-show-buttons:hover {
  background: rgb(89,23,14,1);
}

/* End of FamilyMemberShowPage */

.menu-page {
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu-item {
  font-family: 'Italianno';
  font-size: 1.5em;
  min-width: 500px;
  background: rgb(256,256,256,.5);
  margin: 25px;
  border-radius: 25px;
}

.menu-item:hover {
  color: white;
  background: rgb(0,0,0,.5);
}
